<section id="main-content" style="padding: 10px;">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa-table"></i>系统管理</h3>
            </div>
        </div>
        <!-- page start-->
        <div class="row">
            <div class="col-sm-6 ">
                <section class="panel system-management-table-280" ng-include="'views/system/include/modules.html'">
                </section>
            </div>
            <div class="col-sm-6 ">
                <section class="panel system-management-table-280" ng-include="'views/system/include/menu.html'">
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <section class="panel system-management-table-280" ng-include="'views/system/include/role.html'">
                </section>
            </div>
            <div class="col-sm-6">
                <section class="panel system-management-table-280" ng-include="'views/system/include/auth.html'">
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel system-management-table-470"
                         ng-include="'views/system/include/usermanagement.html'">
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>