<form>
    <div class="row">
        <div style="padding: 10px 20px 0px 20px;">
            <textarea ng-model="src" required placeholder="请输入要转换为指定格式的时间戳或要反转为时间戳的指定格式时间" style="width: 100%;height:150px;border: 1px solid;border-radius: 5px;"></textarea>
        </div>
    </div>
    <div>
        <div class="row" style="padding: 10px 20px 0px 20px;">
            <select class="form-control" ng-model="format">
                <option value="0">--请选择目标格式--</option>
                <option value="yyyy-MM-dd">yyyy-MM-dd</option>
                <option value="yyyy-MM-dd HH:mm">yyyy-MM-dd HH:mm</option>
                <option value="yyyy-MM-dd HH:mm:ss">yyyy-MM-dd HH:mm:ss</option>
                <option value="yyyy年MM月dd日">yyyy年MM月dd日</option>
                <option value="yyyy年MM月dd日HH时mm分">yyyy年MM月dd日HH时mm分</option>
                <option value="yyyy年MM月dd日HH时mm分ss秒">yyyy年MM月dd日HH时mm分ss秒</option>
                <option value="yyyy/MM/dd">yyyy/MM/dd</option>
                <option value="yyyy/MM/dd/HH/m">yyyy/MM/dd/HH/mm</option>
                <option value="yyyy/MM/dd/HH/mm/ss">yyyy/MM/dd/HH/mm/ss</option>
            </select>
        </div>

        <div class="row" style="padding: 10px 4px 10px 4px;">
            <div class="col-lg-6">
                <button type="submit" class="btn btn-lg btn-block " ng-click="dateFormat(1)"
                        style="background: rgba(54, 66, 74, 0.9);color:whitesmoke;">转换
                </button>
            </div>
            <div class="col-lg-6">
                <button type="submit" class="btn btn-lg btn-block " ng-click="dateFormat(-1)"
                        style="background: rgba(54, 66, 74, 0.9);color:whitesmoke;">反转为时间戳
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="padding: 0px 20px 20px 20px;">
            <textarea style="width: 100%;height:150px; border: 1px solid;border-radius: 5px;" placeholder="转换结果" ng-bind="formated" readonly disabled></textarea>

        </div>
    </div>
</form>