<div class="row" style="min-height:600px;">


    <div class="col-lg-7 margin-top-10">
        <div class="row col-lg-12 margin-top-10">
            <div class="col-lg-4">
                <p style="font-size: 24px;color:silver">·······································</p>
            </div>
            <div class="col-lg-3 col-lg-offset-1">
                <span style="font-size: 24px;color:silver">加密解密</span>
            </div>
            <div class="col-lg-4">
                <p style="font-size: 24px;color:silver">·······································</p>
            </div>
        </div>
        <form style="padding: 20px 0 0px 20px;" role="form" name="dencryptForm" novalidate>
            <div class="row col-lg-12 margin-top-10">
                <div class="input-group col-lg-12">
                    <span class="input-group-addon">输入方式</span>
                    <select class="input-group form-control" ng-model="dencryptInput.dataFrom" onchange="makeDataFrom(this)"
                        ng-maxlength="1" ng-required="true">
                        <option value="">--请选择方式--</option>
                        <option value="text">文本</option>
                        <option value="upload">上传</option>
                    </select>
                </div>
            </div>
            <div class="row col-lg-12 margin-top-10">
                <div class="btn-group col-lg-12" style="margin-left: 68px;">
                    <label class="btn btn-default active" onclick="markScale(this)">
                        <input type="radio" name="dencryptInput.scale" ng-model="dencryptInput.scale" value="plaintext" hidden/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;plaintext&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                    <label class="btn btn-default" disabled="disabled" onclick="markScale(this)">
                        <input type="radio" name="scale" ng-model="dencryptInput.scale" value="hex" hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;hex&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
            </div>
            <div class="row col-lg-12 margin-top-10">
                <div class="input-group col-lg-12">
                    <span class="input-group-addon">输入内容</span>
                    <textarea ng-model="dencryptInput.content" class="input-group form-control" placeholder="请输入需要加密或解密的文本"
                              style="width: 100%;height:150px;border: 1px solid #e9c898;"
                        ng-minlength="1" ng-required="true">
                    </textarea>
                </div>
            </div>
            <div class="row col-lg-12 margin-top-10">
                <div class="btn-group col-lg-12 calcType" style="margin-left: 68px;">
                    <label class="btn btn-default active" onclick="markCalcType(this)">
                        <input type="radio" ng-model="dencryptInput.arithmetic" value="MD5BASE64" hidden>MD5+BASE64
                    </label>
                    <label class="btn btn-default" disabled="disabled" onclick="markCalcType(this)">
                        <input type="radio" ng-model="dencryptInput.arithmetic" value="MD5" hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计算MD5&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                    <label class="btn btn-default" disabled="disabled" onclick="markCalcType(this)">
                        <input type="radio" ng-model="dencryptInput.arithmetic" disabled="disabled" value="SHA" hidden>&nbsp;&nbsp;&nbsp;&nbsp;SHA&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                    <label class="btn btn-default" disabled="disabled" onclick="markCalcType(this)">
                        <input type="radio" ng-model="dencryptInput.arithmetic" disabled="disabled" value="HMAC" hidden>&nbsp;&nbsp;&nbsp;&nbsp;HMAC&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                    <label class="btn btn-default" disabled="disabled" onclick="markCalcType(this)">
                        <input type="radio" ng-model="dencryptInput.arithmetic" disabled="disabled"  value="DES" hidden>&nbsp;&nbsp;&nbsp;&nbsp;DES&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                    <label class="btn btn-default" disabled="disabled" onclick="markCalcType(this)">
                        <input type="radio" ng-model="dencryptInput.arithmetic" disabled="disabled"  value="SALT" hidden>&nbsp;&nbsp;&nbsp;&nbsp;带盐值&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
            </div>
            <div class="row col-lg-12 margin-top-10" id="show_salt" style="display: none">
                <div class="input-group col-lg-12">
                    <span class="input-group-addon">输入盐值</span>
                    <input type="text" class="input-group form-control" ng-model="dencryptInput.salt" placeholder="请输入需要解密附带的盐值"
                           />
                </div>
            </div>

            <div class="row col-lg-12 margin-top-10">
                <div class="btn-group col-lg-12 dencrypt" style="margin-left: 68px;">
                    <label class="btn btn-default active" onclick="makeMethod(this)">
                        <input type="radio" ng-model="dencryptInput.method" value="encrypt" hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;加密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                    <label class="btn btn-default" disabled="disabled" onclick="makeMethod(this)">
                        <input type="radio" ng-model="dencryptInput.method" value="decrypt" hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;解密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </label>
                </div>
            </div>

            <div class="row col-lg-12 margin-top-20">
                <div class="btn-group col-lg-12" style="margin-left: 68px;">
                    <button type="submit"  style="margin-right: 50px;"
                            class="btn btn-danger btn-lg pull-right" ng-click="dencrypt()" value="6"
                            ng-disabled="dencryptForm.$invalid">
                        &nbsp;&nbsp;&nbsp;&nbsp;执行&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-5 margin-top-10">
        <div class="row col-lg-12 margin-top-10">
            <div class="col-lg-2">
                <p style="font-size: 24px;color:silver">··················</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2">
                <span style="font-size: 24px;color:silver">加密(解密)结果</span>
            </div>
            <div class="col-lg-2">
                <p style="font-size: 24px;color:silver">··················</p>
            </div>
        </div>
        <div class="row col-lg-12 margin-top-10">
            <div class="input-group col-lg-12">
                <span class="input-group-addon">密码</span>
                <textarea class="input-group form-control" style="width: 100%;height:100px; border: 1px solid #e9c898;overflow-y: auto" placeholder="加密(解密)结果"
                          ng-bind="output.output" readonly disabled>
                </textarea>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    function markCalcType(element) {
        $(element).parent().find('label').removeClass('active');
        $(element).addClass('active');

        var radio=$(element).find("input[type=radio]");
        $(radio).attr("checked", true);
        var calcType=$('.dencrypt').find('input[type=radio]:checked');
        if ($(calcType).val() == 'decrypt' && $(radio).val() == 'SALT') {
            $('#show_salt').show(500);
        }else{
            $('#show_salt').hide(500);
        }
    }
    function makeDataFrom(element) {
        if ($(element).val() == 'upload') {
            swal('', '暂时只支持手动填入文本!', 'error');
            $(element).val('text');
        }
    }
    function makeMethod(element) {
        $(element).parent().find('label').removeClass('active');
        $(element).addClass('active');

        var radio=$(element).find("input[type=radio]");
        $(radio).attr("checked", true);

        var calcType = $('.calcType').find('input[type=radio]:checked');
        if ($(element).find('input[type=radio]').val() == 'decrypt' && $(calcType).val() == 'SALT') {
            $('#show_salt').show(500);
        }else{
            $('#show_salt').hide(500);
        }
    }
    function markScale(element) {
        $(element).parent().find('label').removeClass('active');
        $(element).addClass('active');

        var radio=$(element).find("input[type=radio]");
        $(radio).attr("checked", true);
    }
</script>