<footer>
    <div  style="text-align:center;color: #007aff;">
        <div class="friendLink">
                <a href="#about">关于open-ic</a>
                |
                <a href="#contact">联系我们</a>
                |
                <a href="#protocol">用户协议</a>
        </div>
        <div class="corporation">
            <span class="copyright">© 2014-2015</span>
            <span>版权所有&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;保留所有权利&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;蜀ICP备:14026575号</span>
        </div>
    </div>
</footer>