<style type="text/css">
    .footer-container {
        color: #faf1c8 !important;
    }

    .footer-ul {
        font-size: 14px !important;
        color: #ffdf9f !important;
    }

    .footer-container ul > li {
        margin-top: -25px !important;
        font-size: 12px !important;
        color: #dbcbef !important;
    }

    .footer-container a {
        color: #25dedd !important;
    }

    .footer-container a:hover {
        color: #ffeb5d !important;
        text-decoration: underline !important;
    }
</style>
<footer class="footer-container">
    <div class="row col-lg-12" style="text-align:left;padding: 50px 0 0 100px;">
        <div class="col-lg-2">
            <ul>
                <p class="footer-ul">本站信息</p>
                <li>
                    <a href="/" target="_blank">关于本站</a>
                </li>
                <li>
                    <a ui-sref="toutiao.news" target="_blank">新闻头条</a>
                </li>
                <li>
                    <a ui-sref="article" target="_blank">文章博客</a>
                </li>
                <li>
                    <a ui-sref="tools" target="_blank">本站工具</a>
                </li>
                <li>
                    <a href="/contact" target="_blank">联系我们</a>
                </li>
                <li>
                    <a href="/protocol" target="_blank">用户协议</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <p class="footer-ul">快递专线</p>
                <li>
                    <a href="https://www.deppon.com/" target="_blank">德邦物流</a>
                </li>
                <li>
                    <a href="http://www.sf-express.com/" target="_blank">顺丰速运</a>
                </li>
                <li>
                    <a href="http://www.yundaex.com/" target="_blank">韵达快递</a>
                </li>
                <li>
                    <a href="http://www.yto.net.cn/" target="_blank">圆通快递</a>
                </li>
                <li>
                    <a href="http://www.zto.com/" target="_blank">中通快递</a>
                </li>
                <li>
                    <a href="http://www.sto.cn/" target="_blank">申通快递</a>
                </li>
                <li>
                    <a href="http://www.ems.com.cn/" target="_blank">EMS邮政</a>
                </li>
                <li>
                    <a href="http://www.ttkdex.com/" target="_blank">天天快递</a>
                </li>
                <li>
                    <a href="http://www.zjs.com.cn/" target="_blank">宅急送</a>
                </li>
                <li>
                    <a href="https://www.baidu.com" target="_blank">更多></a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <p class="footer-ul">信息推广</p>
                <li>
                    <a href="/" target="_blank">知行云</a>
                </li>
                <li>
                    <a href="https://www.aliyun.com">阿里云</a>
                </li>
                <li>
                    <a href="http://www.qq.com/" target="_blank">腾讯网</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <p class="footer-ul">网购平台</p>
                <li>
                    <a href="https://www.1688.com/" target="_blank">1688</a>
                </li>
                <li>
                    <a href="https://www.taobao.com/" target="_blank">淘宝</a>
                </li>
                <li>
                    <a href="https://www.tmall.com/" target="_blank">天猫</a>
                </li>
                <li>
                    <a href="https://www.jd.com/" target="_blank">京东</a>
                </li>
                <li>
                    <a href="http://www.vip.com/" target="_blank">唯品会</a>
                </li>
                <li>
                    <a href="https://ju.taobao.com/" target="_blank">聚划算</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <p class="footer-ul">技术网站</p>
                <li>
                    <a href="http://www.aliued.com/" target="_blank">阿里UED</a>
                </li>
                <li>
                    <a href="http://jdc.jd.com/" target="_blank">京东设计中心</a>
                </li>
                <li>
                    <a href="http://cdc.tencent.com/" target="_blank">腾讯CDC</a>
                </li>
                <li>
                    <a href="https://isux.tencent.com/category/fd" target="_blank">腾讯ISUX</a>
                </li>
                <li>
                    <a href="http://www.alloyteam.com/" target="_blank">Alloy Team</a>
                </li>
                <li>
                    <a href="https://www.hcharts.cn/" target="_blank">Hicharts</a>
                </li>
                <li>
                    <a href="http://echarts.baidu.com/" target="_blank">Echarts 3</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
            <ul>
                <p class="footer-ul">著名博客</p>
                <li>
                    <a href="https://www.csdn.net/">CSDN</a>
                </li>
                <li>
                    <a href="https://www.cnblogs.com/" target="_blank">博客园</a>
                </li>
                <li>
                    <a href="http://www.iteye.com/" target="_blank">ITeye</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row col-lg-12" style="height:150px;padding-left:100px;">
        <div class="col-lg-2 col-lg-offset-3">
            <div>
                <img src="../../images/weixin_qrcode.png" style="width:100px;height:100px;" title="扫描微信二维码联系我"/>
                <label style="font-size: 12px;position: absolute;left: 10px;bottom: -50px;">扫描微信二维码联系</label>
            </div>
        </div>
        <div class="col-lg-2">
            <div>
                <img src="../../images/alipay_qrcode.png" style="width: 100px;height:100px;" title="扫描支付宝二维码联系我"/>
                <label style="font-size: 12px;position: absolute;left: 10px;bottom: -50px;">扫描支付宝二维码联系</label>
            </div>
        </div>
        <div class="col-lg-2">
            <div>
                <img src="../../images/qq_qrcode.png" style="width: 100px;height:100px;" title="扫描QQ二维码联系我"/>
                <label style="font-size: 12px;position: absolute;left: 10px;bottom: -50px;">扫描QQ二维码联系</label>
            </div>
        </div>
    </div>
    <!--<div class="row col-lg-12">-->
        <!--<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2::52" alt="联系作者QQ" title="联系作者QQ"/></a>-->
    <!--</div>-->
    <div class="row col-lg-12">
        <div class="corporation" style="font-size: 12px;">
            <span class="copyright">© 2017-?</span>
            <span>版权所有&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;保留所有权利&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;蜀ICP备:14026575号</span>
        </div>
    </div>
</footer>