<header class="header dark-bg">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
    </div>

    <!--logo start-->
    <a href="index.html" class="logo">知行 <span class="lite">云网</span></a>
    <!--logo end-->

    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
            <!-- task notificatoin start -->
            <li id="task_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <!--<span class="icon-task-l"></span>-->
                    <!--<span class="badge bg-important">5</span>-->
                    <span>头条新闻</span>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <li id="alert_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <span>技术文章</span>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <!-- task notificatoin end -->
            <!-- inbox notificatoin start-->
            <li id="mail_notificatoin_bar" class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <!--<i class="icon-envelope-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <span>实用工具</span>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <!-- inbox notificatoin end -->
            <!-- alert notification start-->
            <li  class="dropdown search-row">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <span>情感咨询</span>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <li  class="dropdown search-row">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <span>关于我们</span>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <li  class="dropdown search-row">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <span>登录</span>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <li  class="dropdown search-row">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <span>注册</span>
                </a>
            </li>
            <!--检索框-->
            <li class="search-row">
                <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </li>
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</header>