<header class="header">
    <div class="row dark-bg" style="padding-bottom: 10px;">
        <ul class="nav pull-left">
            <!--检索框-->
            <li class="dropdown header-search">
                <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </li>
        </ul>
        <div class="top-nav notification-row">
            <ul class="nav pull-right top-menu">
                <li class="dropdown header-title" ng-repeat="module in moduleList">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <a class="top-a-module" containerId="{{module.attrLink}}">{{module.name}}</a>
                        <img src="../../images/hot.png" style="position: absolute;right: 7px;top: 7px;width: 24px;"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row dark-bg t6-module-ul-header">
        <div>
            <!--导航-->
            <ul style="width: 100%" class="pull-right t6-module-ul" id="{{module.attrLink}}" ng-repeat="module in moduleList">
                <div class="row ">
                    <div class="col-lg-2" ng-repeat="menu in module.menuList">
                        <a data-value="1" ui-sref="{{menu.uisref}}" class="pull-left t6-menu-a">
                            <span>{{menu.name}}</span>
                            <img src="../../images/new.png" style="width: 28px;margin-left:5px;right: 5px;">
                        </a>
                    </div>
                </div>
                <div class="row ">
                    <span data-value="6" class="arrows-up pull-right" style="padding-right: 49.5%;cursor: pointer">
                        <img src="../../images/arrows_up.png"/>
                    </span>
                </div>
            </ul>
        </div>
    </div>
</header>
<script>
    $(function () {
        $(".t6-module-ul").hide();
        $('body').delegate('.top-a-module','click',function () {
            var containerId = $(this).attr('containerId');
            console.log(containerId)
            var uls = $("ul.t6-module-ul");
            for (var i = 0; i < uls.length; i++) {
                var ul = uls[i];
                if ($(ul).attr('id') != containerId) {
                    $(ul).hide();
                }
            }
            $("#" + containerId).slideToggle(500);
        });
        $("body").delegate('.arrows-up','click',function () {
            $(this).parent().parent().parent().slideToggle(500);
        });
        $("body").delegate('.t6-menu-a:not(.doing)','click',function () {
            $(this).parent().parent().parent().slideToggle(500);
        })
    })
</script>