<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <!-- page start-->
                    <div class="row col-lg-10">
                        <div ng-repeat="art in articles">
                            <div class="col-lg-3" style="margin: 40px 20px 0 0;">
                                <div class="act-time">
                                    <div class="activity-body act-in">
                                        <div class="text"  style="background:rgba(74,103,133,1);color:whitesmoke">
                                            <div class="col-lg-12" style="cursor:pointer;" ng-click="articleDetail(art.id)">
                                                <div class="row" style="height: 20px;">
                                                    <div class="col-lg-12">
                                                        <span
                                                           style="color:whitesmoke;font-size: 14px;font-weight: bold">{{art.title}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row" style="height: 65px;">
                                                    <div class="col-lg-10 col-lg-offset-1">{{art.summary}}...
                                                    </div>
                                                </div>
                                                <div class="row pull-right" style="font-size: 12px;padding: 5px;">
                                                    <i class="fa fa-eye">({{art.readAmount}})&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                                    <i class="fa fa-commenting">({{art.commentAmount}})&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                                    <i class="fa fa-thumbs-up">({{art.approvalAmount}})&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                                    <i class="fa fa-thumbs-down">({{art.treadAmount}})&nbsp;&nbsp;&nbsp;&nbsp;</i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-8">
                        <div class="page">
                            <!--<div class="pull-right">-->
                            <div>
                                <pagination boundary-links="true"
                                            total-items="total"
                                            ng-model="currentPage"
                                            class="pagination-md"
                                            ng-change="changePage()"
                                            max-size="maxSize"
                                            rotate="false"
                                            first-text="&laquo;"
                                            previous-text="&lsaquo;"
                                            next-text="&rsaquo;"
                                            last-text="&raquo;"
                                            force-ellipses="true"
                                            items-per-page="pageSize">
                                </pagination>
                                <span class="totalPage" ng-cloak class="ng-cloak">共&nbsp;&nbsp;{{pages}}&nbsp;&nbsp;页，总&nbsp;&nbsp;{{total}}&nbsp;&nbsp;条</span>
                            </div>
                        </div>
                        <header class="panel-heading">
                            <span><a ui-sref="article.write" target="_blank"
                                     class="btn btn-primary pull-right">发表文章</a></span>
                        </header>
                    </div>
                    <!-- page end-->
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>