<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        技术文章
                        <span><a ui-sref="article.write" target="_blank" class="btn btn-primary pull-right">发表文章</a></span>
                    </header>
                    <div class="page">
                        <!--<div class="pull-right">-->
                        <div>
                            <pagination boundary-links="true"
                                        total-items="total"
                                        ng-model="currentPage"
                                        class="pagination-md"
                                        ng-change="changePage()"
                                        max-size="maxSize"
                                        rotate="false"
                                        first-text="&laquo;"
                                        previous-text="&lsaquo;"
                                        next-text="&rsaquo;"
                                        last-text="&raquo;"
                                        force-ellipses="true"
                                        items-per-page="pageSize">
                            </pagination>
                            <span class="totalPage" ng-cloak class="ng-cloak">共&nbsp;&nbsp;{{pages}}&nbsp;&nbsp;页，总&nbsp;&nbsp;{{total}}&nbsp;&nbsp;条</span>
                        </div>
                    </div>
                    <table class="table  table-bordered table-advance table-hover table-responsive">
                        <thead>
                        <tr>
                            <th><i class="fa fa-home"></i>标题</th>
                            <th><i class="fa fa-file-word-o"></i>内容摘要</th>
                            <th><i class="fa fa-user"></i>作者</th>
                            <th><i class="fa fa-object-ungroup"></i>分类</th>
                            <th><i class="fa fa-rss-square"></i>类型</th>
                            <th><i class="fa fa-calendar"></i>发表时间</th>
                            <th><i class="fa fa-eye"></i>阅读数</th>
                            <th><i class="fa fa-commenting"></i>评论数</th>
                            <th><i class="fa fa-thumbs-up"></i>顶</th>
                            <th><i class="fa fa-thumbs-down"></i>踩</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="art in articles">
                        <tr>
                            <td>{{art.title}}</td>
                            <td><a ui-sref="article.detail" target="_blank" style="cursor: pointer;text-decoration: underline">{{art.content}}</a></td>
                            <td>{{art.author}}</td>
                            <td>{{art.category}}</td>
                            <td>{{art.type}}</td>
                            <td>{{art.createTime|date : 'yyyy年MM月dd日HH点mm分'}}</td>
                            <td>{{art.readerAmount}}</td>
                            <td>{{art.commentAmount}}</td>
                            <td>{{art.approvalAmount}}</td>
                            <td>{{art.treadAmount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>