<section class="header dark-bg" style="margin-top: 60px;">
    <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"></div>
    </div>


    <div class="top-nav notification-row">
        <!-- notificatoin dropdown start-->
        <ul class="nav pull-right top-menu">
            <!-- task notificatoin start -->
            <li class="dropdown header-title">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <!--<span class="icon-task-l"></span>-->
                    <!--<span class="badge bg-important">5</span>-->
                    <a ui-sref="navi.toutiao">头条</a>
                </a>
                <span class="line" width="100px;" left="200px;" style="width: 100px;left: 200px;"></span>
            </li>
            <li class="dropdown header-separator">|</li>
            <li class="dropdown header-title">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <a ui-sref="navi.article">技术</a>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <!-- task notificatoin end -->
            <!-- inbox notificatoin start-->
            <li class="dropdown header-title">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <!--<i class="icon-envelope-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <a ui-sref="navi.tool">实用工具</a>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <!-- inbox notificatoin end -->
            <!-- alert notification start-->
            <li  class="dropdown header-title">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <a ui-sref="navi.emotion">情感咨询</a>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <li  class="dropdown header-title">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <a ui-sref="navi.aboutme">关于我们</a>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <li  class="dropdown header-title">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <a ui-sref="navi.login">登录</a>
                </a>
            </li>
            <li class="dropdown header-separator">|</li>
            <li  class="dropdown header-title">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                    <!--<i class="icon-bell-l"></i>-->
                    <!--<span class="badge bg-important">4</span>-->
                    <a ui-sref="navi.register">注册</a>
                </a>
            </li>
            <!--检索框-->
            <li class="dropdown header-search">
                <form class="navbar-form">
                    <input class="form-control" placeholder="Search" type="text">
                </form>
            </li>
        </ul>
        <!-- notificatoin dropdown end-->
    </div>
</section>