<section id="main-content">
    <section class="wrapper">
        <div class="row">
            <!-- profile-widget -->
            <div class="col-lg-12">
                <div class="profile-widget profile-widget-info advertise">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" align="center">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="../../images/advertisement/flower.jpg" style="height: 200px;width:1150px;" alt="...">
                                    <div class="carousel-caption">
                                        ...
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="../../images/advertisement/fengjing.jpg" style="height: 200px;width:1150px;" alt="...">
                                    <div class="carousel-caption">
                                        ...
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="../../images/advertisement/city.jpg" style="height: 200px;width:1150px;" alt="...">
                                    <div class="carousel-caption">
                                        ...
                                    </div>
                                </div>
                                ...
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <div class="page">
            <!--<div class="pull-right">-->
            <div>
                <pagination boundary-links="true"
                            total-items="total"
                            ng-model="currentPage"
                            class="pagination-md"
                            ng-change="changePage()"
                            max-size="maxSize"
                            rotate="false"
                            first-text="&laquo;"
                            previous-text="&lsaquo;"
                            next-text="&rsaquo;"
                            last-text="&raquo;"
                            force-ellipses="true"
                            items-per-page="pageSize">
                </pagination>
                <span class="totalPage" ng-cloak class="ng-cloak">共&nbsp;&nbsp;{{pages}}&nbsp;&nbsp;页，总&nbsp;&nbsp;{{total}}&nbsp;&nbsp;条</span>
            </div>
        </div>
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="recent-activity" class="tab-pane active">
                                <div class="profile-activity">
                                    <div ng-repeat="tt in toutiaos">
                                        <div class="act-time">
                                            <div class="activity-body act-in">
                                                <div class="text">
                                                    <div class="col-lg-2">
                                                        <img src="{{tt.thumbnailPicS}}" style="width: 60%;height: 60%;"/>
                                                    </div>
                                                    <div class="col-lg-8">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                标题：<a href="{{tt.url}}" target="_blank" style="text-decoration: underline;color:#4874be">{{tt.title}}</a>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="position: relative;bottom: -60px;">
                                                            <div class="col-lg-4">来自：{{tt.authorName}}</div>
                                                            <div class="col-lg-6">发布于：{{tt.date|date:'yyyy年MM月dd日HH点mm分'}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>