<div ng-controller="AuthController">
    <header class="panel-header">
        <label>权限管理</label>
        <label class="pull-right">
            <a class="btn btn-primary btn-sm" data-toggle="modal"
               data-target="#addAuthModal"><i
                    class="icon_plus_alt2"></i></a>
        </label>
    </header>
    </header>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>名称</th>
            <th>锁定状态</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="auth in authList">
            <td>{{auth.name}}</td>
            <td>
                <div class="col-sm-8" style="color:darkblue;font-weight: bold;">
                    <span ng-if="auth.locked==0" class='badge badge-error'><span class="fa fa-unlock-alt"></span></span>
                    <span ng-if="auth.locked==1" class='badge badge-warning'><span class="fa fa-lock"></span></span>
                </div>
            </td>
            <td>{{auth.createTime|date:'yyyy年MM月dd日'}}</td>
            <td>{{auth.updateTime|date:'yyyy年MM月dd日'}}</td>
            <td>
                <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#viewAuthModal"
                   ng-click="authObject.view(auth.authId)"><i class="fa fa-eye"></i></a>
                <a class="btn btn-info btn-xs" data-toggle="modal" data-target="#updateAuthModal"
                   ng-click="authObject.openUpdateModal(auth.authId)"><i class="fa fa-edit"></i></a>
                <a class="btn btn-danger btn-xs" ng-click="authObject.delete(auth.authId)"><i
                        class="fa fa-minus-circle"></i></a>

                <a class="btn btn-danger btn-xs" ng-if="auth.locked==1" ng-click="authObject.unlock(auth.roleId)"><i
                        class="fa fa-lock"></i></a>
                <a class="btn btn-success btn-xs" ng-if="auth.locked==0" ng-click="authObject.lock(auth.roleId)"><i
                        class="fa fa-unlock-alt"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
    <!-- page end-->
    <div class="page">
        <!--<div class="pull-right">-->
        <div>
            <pagination boundary-links="true"
                        total-items="total"
                        ng-model="currentPage"
                        class="pagination-md"
                        ng-change="changePage()"
                        max-size="maxSize"
                        rotate="false"
                        first-text="&laquo;"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        last-text="&raquo;"
                        force-ellipses="true"
                        items-per-page="pageSize">
            </pagination>
            <span class="totalPage" ng-cloak class="ng-cloak">共&nbsp;&nbsp;{{pages}}&nbsp;&nbsp;页，总&nbsp;&nbsp;{{total}}&nbsp;&nbsp;条</span>
        </div>
    </div>

    <!--新增模态框-->
    <!-- Modal -->
    <div class="modal fade modal-primary" id="addAuthModal" tabindex="-1" role="dialog" aria-hidden="false"
         aria-labelledby="myModalLabel"
         data-backdrop="static">
        <div class="modal-dialog" style="left: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">添加权限</h4>
                </div>
                <form role="form" name="addAuthForm" ng-submit="authObject.add()" novalidate>
                    <div class="modal-body">
                        <div ng-show="addSuccess==false" style="text-align: center;color:red;">温馨提示:添加失败</div>
                        <div class="row">
                            <div class="col-sm-10 margin-top-20" style="padding-left: 50px;">
                                <div class="input-group">
                                    <span class="input-group-addon">权限名称&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="text" class="input-group form-control" ng-model="addAuthInput.name"
                                           placeholder="请输入权限名称" required/>
                                </div>
                                <div class="col-sm-12 hint-color" style="padding-left: 100px;">
                                    注:必须为中文且长度为2-4个汉字
                                </div>
                            </div>
                            <div class="col-sm-10 margin-top-20" style="padding-left: 50px;">
                                <div class="input-group">
                                    <div class="btn-group col-lg-12" style="margin-left: 85px;">
                                        <label class="btn btn-success btn-sm active" onclick="makeMethod(this)">
                                            <input type="radio" ng-model="addAuthInput.locked" value="0" hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;解锁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </label>
                                        <label class="btn btn-danger btn-sm" onclick="makeMethod(this)">
                                            <input type="radio" ng-model="addAuthInput.locked" value="1" hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;锁定&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 hint-color" style="padding-left: 100px;">
                                    注:锁定后无法进行敏感操作
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"><i
                                class="fa fa-times-circle"></i></button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="addAuthForm.$invalid"><i
                                class="fa fa-floppy-o"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--查看模态框-->
    <div class="modal fade modal-primary" id="viewAuthModal" tabindex="-1" role="dialog" aria-hidden="false"
         aria-labelledby="myModalLabel"
         data-backdrop="static">
        <div class="modal-dialog" style="left: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="color:darkseagreen">权限详情</h4>
                </div>
                <form role="form" name="viewAuthForm" novalidate>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-10 margin-top-20" style="padding-left: 50px;">
                                <div class="col-sm-4" style="color:darkseagreen">权限名称&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div class="col-sm-8" style="color:darkblue;font-weight: bold;">{{auth.name}}</div>
                            </div>
                            <div class="col-sm-10 margin-top-20" style="padding-left: 50px;">
                                <div class="col-sm-4" style="color:darkseagreen">锁定状态&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div class="col-sm-8" style="color:darkblue;font-weight: bold;">
                                    <span ng-if="auth.locked==0" class='badge badge-error'><span class="fa fa-unlock-alt"></span></span>
                                    <span ng-if="auth.locked==1" class='badge badge-warning'><span class="fa fa-lock"></span></span>
                                </div>
                            </div>
                            <div class="col-sm-10 margin-top-20" style="padding-left: 50px;">
                                <div class="col-sm-4" style="color:darkseagreen">创建时间&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div class="col-sm-8" style="color:darkblue;font-weight: bold;">{{auth.createTime|date:'yyyy年MM月dd日 HH点mm分ss秒'}}
                                </div>
                            </div>
                            <div class="col-sm-10 margin-top-20" style="padding-left: 50px;">
                                <div class="col-sm-4" style="color:darkseagreen">更新时间&nbsp;&nbsp;&nbsp;&nbsp;</div>
                                <div class="col-sm-8" style="color:darkblue;font-weight: bold;">{{auth.updateTime|date:'yyyy年MM月dd日 HH点mm分ss秒'}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"><i
                                class="fa fa-times-circle"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--修改模态框-->
    <div class="modal fade modal-primary" id="updateAuthModal" tabindex="-1" role="dialog" aria-hidden="false"
         aria-labelledby="myModalLabel"
         data-backdrop="static">
        <div class="modal-dialog" style="left: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">修改权限</h4>
                </div>
                <form role="form" name="updateAuthForm" ng-submit="authObject.edit()" novalidate>
                    <div class="modal-body">
                        <div ng-show="editSuccess==false" style="text-align: center;color:red;">温馨提示:修改失败</div>
                        <div class="row">
                            <div class="col-sm-10 margin-top-20" style="padding-left: 50px;">
                                <input ng-model="updateAuthInput.authId" hidden/>
                                <div class="input-group">
                                    <span class="input-group-addon">权限名称&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <input type="text" class="input-group form-control"
                                           ng-model="updateAuthInput.name"
                                           placeholder="请输入权限名称" required/>
                                </div>
                                <div class="col-sm-12 hint-color" style="padding-left: 100px;">
                                    注:必须为中文且长度为2-4个汉字
                                </div>
                            </div>
                            <div class="col-sm-10 margin-top-20" style="padding-left: 50px;">
                                <div class="input-group">
                                    <div class="btn-group col-lg-12 dencrypt" style="margin-left: 85px;">
                                        <label class="btn btn-success btn-sm active" onclick="makeMethod(this)">
                                            <input type="radio" ng-model="updateAuthInput.locked" value="0" hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;解锁&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </label>
                                        <label class="btn btn-danger btn-sm" onclick="makeMethod(this)">
                                            <input type="radio" ng-model="updateAuthInput.locked" value="1" hidden>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;锁定&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12 hint-color" style="padding-left: 100px;">
                                    注:锁定后无法进行敏感操作
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"><i
                                class="fa fa-times-circle"></i></button>
                        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="updateAuthForm.$invalid"><i
                                class="fa fa-floppy-o"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    //    $('input[name="radio2"]').bootstrapSwitch('state', true, true);
    function makeMethod(element) {
        $(element).parent().find('label').removeClass('active');
        $(element).addClass('active');

        var radio=$(element).find("input[type=radio]");
        $(radio).attr("checked", true);
    }
</script>