<header class="panel-header">
    <label>路由管理</label>
    <label class="pull-right">
        <a class="btn btn-primary btn-sm" href="#"><i class="icon_plus_alt2"></i></a>
        <a class="btn btn-success btn-sm" href="#"><i class="icon_check_alt2"></i></a>
        <a class="btn btn-danger btn-sm" href="#"><i class="icon_close_alt2"></i></a>
    </label>
</header>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>名称</th>
        <th>上一级路由</th>
        <th>路由级别</th>
        <th>ui-sref</th>
        <th>描述信息</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="route in pageRouteList">
        <td>{{route.name}}</td>
        <td>{{route.superId}}</td>
        <td>{{route.rank}}</td>
        <td>{{route.uisref}}</td>
        <td>{{route.description}}</td>
        <td>{{auth.createTime|date:'yyyy-MM-dd'}}</td>
    </tr>
    </tbody>
</table>
<div class="page">
    <!--<div class="pull-right">-->
    <div>
        <pagination boundary-links="true"
                    total-items="routeOfTotal"
                    ng-model="routeOfCurrentPage"
                    class="pagination-md"
                    ng-change="changeRoutePage()"
                    max-size="routeOfMaxSize"
                    rotate="false"
                    first-text="&laquo;"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    last-text="&raquo;"
                    force-ellipses="true"
                    items-per-page="routeOfPageSize">
        </pagination>
        <span class="totalPage" ng-cloak class="ng-cloak">共&nbsp;&nbsp;{{routeOfPages}}&nbsp;&nbsp;页，总&nbsp;&nbsp;{{routeOfTotal}}&nbsp;&nbsp;条</span>
    </div>
</div>