<div class="">

    <div class="container">

        <form class="login-form" ng-submit="loginSubmit()">
            <div class="login-wrap">
                <p style="color: red;font-family: '微软雅黑';">{{loginError}}</p>
                <p class="login-img"><i class="icon_lock_alt"></i></p>

                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_profile"></i></span>
                    <input type="text" id="username" name="username" ng-model="login.loginName" required class="form-control" placeholder="请输入用户名" autofocus/>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                    <input type="password" id="password"  name="password" ng-model="login.password" class="form-control" placeholder="请输入密码" required>
                </div>
                <label class="checkbox" style="color: navajowhite">
                    <input type="checkbox" value="remember-me"> 记住我
                </label>
                <button class="btn btn-primary btn-lg btn-block" type="submit">登录</button>
                <div style="margin-top: 30px;">
                    <span class="pull-left"> <a href="#" > 忘记密码?</a></span>
                    <span class="pull-right"> <a href="#"> 注册账号</a></span>
                </div>

            </div>
        </form>
    </div>
</div>
